.text66 {
  font-family: Akrobat, sans-serif;
  font-size: 66px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase; }

.reports-main {
  padding-bottom: 160px;
  overflow: hidden; }
  .reports-main h1 {
    font-family: Akrobat, sans-serif;
    font-size: 66px;
    text-transform: uppercase; }
  .reports-main__tabs {
    margin-top: 24px; }
  .reports-main__overflow {
    width: calc(100% + 15px);
    overflow-x: auto; }
    .reports-main__overflow::-webkit-scrollbar {
      height: 4px; }
  .reports-main__tabs-head {
    display: inline-flex;
    align-items: stretch;
    white-space: nowrap; }
  .reports-main__tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #D7DCE0;
    padding: 12px 24px;
    font-size: 14px;
    line-height: 130%;
    font-weight: 700;
    color: #9FAAB2;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s; }
    .reports-main__tab--active {
      color: #fff;
      background: #F59C00;
      border-color: #F59C00; }
  .reports-main__tabs-body {
    margin-top: 64px; }
  .reports-main__content {
    display: none; }
  .reports-main__content--active {
    display: block; }
  .reports-main__group:not(:first-child) {
    margin-top: 80px; }
  .reports-main__year, .reports-main__subtitle {
    font-family: Akrobat, sans-serif;
    font-size: 44px;
    line-height: 120%;
    font-weight: 700;
    color: #1f1f1f;
    text-transform: uppercase; }
  .reports-main__cards {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 120px / 4));
    gap: 40px;
    margin-top: 24px; }
  .reports-main__card {
    position: relative;
    background: white;
    border: 1px solid transparent;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
    padding: 24px;
    font-family: Akrobat, sans-serif; }
    .reports-main__card:hover {
      border-color: #ffc17b; }
      .reports-main__card:hover .reports-main__card-img {
        opacity: 1; }
    .reports-main__card-title {
      font-size: 32px;
      line-height: 120%;
      font-weight: 700;
      text-transform: uppercase; }
    .reports-main__card-year {
      font-size: 32px;
      line-height: 120%;
      font-weight: 500;
      color: #9faab2;
      margin-top: 8px; }
    .reports-main__card-img {
      position: absolute;
      right: -16px;
      bottom: -21px;
      max-width: 116px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s; }
      .reports-main__card-img img {
        width: 100%; }
  .reports-main__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 140px; }
  .reports-main__socials-wrap {
    display: flex;
    gap: 24px;
    margin-top: 48px; }
  .reports-main__social {
    width: 56px; }
    .reports-main__social:hover {
      opacity: 0.7; }
    .reports-main__social img {
      width: 100%; }

.reports {
  padding: 28px 0 160px; }
  .reports__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 64px; }
  .reports__left {
    width: calc(100% - 586px); }
    .reports__left .reports__donation {
      display: none; }
  .reports__right {
    position: relative;
    width: 522px; }
  .reports h1 {
    font-family: Akrobat, sans-serif;
    font-size: 96px;
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase; }
  .reports__text {
    display: grid;
    grid-template-columns: 100%;
    gap: 15px;
    margin-top: 24px; }
    .reports__text p {
      font-size: 20px;
      line-height: 130%; }
  .reports__img {
    background: #fff;
    padding: 24px; }
    .reports__img img {
      width: 100%; }
  .reports__donation {
    position: absolute;
    left: -72px;
    bottom: -88px;
    max-width: 334px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 24px 32px; }
    .reports__donation-amount {
      font-family: Akrobat, sans-serif;
      font-size: 66px;
      line-height: 100%;
      font-weight: 700;
      color: #DD0B2F;
      text-transform: uppercase; }
      .reports__donation-amount span {
        font-size: 32px; }
    .reports__donation-text {
      font-size: 17px;
      line-height: 120%;
      color: #43505B;
      margin-top: 5px; }
    .reports__donation-icon {
      position: absolute;
      top: -32px;
      left: -20px;
      width: 74px; }
      .reports__donation-icon img {
        width: 100%; }

.reports-history {
  background: #fff;
  padding: 80px 0 40px; }
  .reports-history__top {
    position: relative; }
    .reports-history__top:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: 100%;
      height: 1px;
      background: #DD0B2F;
      pointer-events: none; }
    .reports-history__top .reports-history__text {
      color: #43505B; }
  .reports-history__group {
    position: relative;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    background: #fff;
    padding-right: 40px; }
  .reports-history__text {
    display: grid;
    grid-template-columns: 100%;
    gap: 15px; }
    .reports-history__text p {
      font-size: 16px;
      line-height: 130%; }
  .reports-history__wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 60px;
    background: #F6D2D8;
    padding: 40px;
    margin-top: 80px; }
    .reports-history__wrap .reports-history__text {
      margin-top: 16px;
      margin-bottom: auto; }
  .reports-history__left {
    width: calc(100% - 610px);
    display: flex;
    flex-direction: column; }
  .reports-history__right {
    width: 550px; }
  .reports-history__img img {
    width: 100%; }
  .reports-history__subtitle {
    font-family: Akrobat, sans-serif;
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase; }
    .reports-history__subtitle span {
      display: block;
      font-size: 20px;
      line-height: 120%;
      color: #DD0B2F;
      margin-bottom: 8px; }
  .reports-history__donation {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px; }
    .reports-history__donation i {
      width: 22px;
      flex-shrink: 0;
      display: flex;
      align-items: center; }
      .reports-history__donation i img {
        width: 100%; }
    .reports-history__donation p {
      font-family: Akrobat, sans-serif;
      font-size: 24px;
      line-height: 120%;
      font-weight: 700; }
      .reports-history__donation p span {
        font-size: 16px;
        font-weight: 500;
        color: #79838C; }

.reports-events {
  background: #fff;
  padding: 40px 0 80px;
  overflow: hidden; }
  .reports-events__title {
    font-family: Akrobat, sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase; }
  .reports-events__slider {
    margin-top: 24px; }
  .reports-events .slick-list {
    overflow: unset;
    margin: 0 -20px; }
  .reports-events .slick-track {
    display: flex;
    align-items: stretch; }
  .reports-events .slick-slide {
    height: auto;
    margin: 0 20px; }
    .reports-events .slick-slide > div {
      height: 100%; }
  .reports-events__card {
    display: flex !important;
    flex-direction: column; }
    .reports-events__card-img img {
      width: 100%; }
    .reports-events__card-desc {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-top: 24px; }
    .reports-events__card-title {
      font-family: Akrobat, sans-serif;
      font-size: 24px;
      line-height: 120%;
      font-weight: 700;
      text-transform: uppercase; }
    .reports-events__card-text {
      margin-top: 8px;
      margin-bottom: auto; }
      .reports-events__card-text p {
        font-size: 14px;
        line-height: 130%; }
    .reports-events__card-donation {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-top: 24px; }
      .reports-events__card-donation i {
        width: 22px;
        flex-shrink: 0;
        display: flex;
        align-items: center; }
        .reports-events__card-donation i img {
          width: 100%; }
      .reports-events__card-donation p {
        font-family: Akrobat, sans-serif;
        font-size: 24px;
        line-height: 120%;
        font-weight: 700; }
        .reports-events__card-donation p span {
          font-size: 16px;
          font-weight: 500;
          color: #79838C; }
  .reports-events__slider-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    margin-top: 40px; }
  .reports-events__prev, .reports-events__next {
    width: 35px;
    cursor: pointer; }
    .reports-events__prev svg, .reports-events__next svg {
      width: 100%;
      height: auto; }
  .reports-events .slick-dots {
    display: none !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 24px; }
    .reports-events .slick-dots li {
      position: relative;
      width: 10px;
      height: 10px;
      background: #F59C00;
      border-radius: 50%; }
      .reports-events .slick-dots li:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4px;
        height: 4px;
        background: #FFF;
        border-radius: 50%;
        opacity: 0; }
    .reports-events .slick-dots .slick-active:after {
      opacity: 1; }
    .reports-events .slick-dots li button {
      width: 100%;
      height: 100%;
      opacity: 0; }

.reports-help {
  padding: 160px 0;
  overflow: hidden; }
  .reports-help__top {
    position: relative; }
    .reports-help__top:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: 100%;
      height: 1px;
      background: #DD0B2F;
      pointer-events: none; }
  .reports-help__title {
    position: relative;
    z-index: 1;
    display: inline-block;
    background: #F8F8F8;
    padding-right: 40px; }
  .reports-help__cards {
    margin-top: 80px; }
  .reports-help .slick-list {
    overflow: unset; }
  @media screen and (min-width: 1025px) {
    .reports-help .slick-track {
      display: flex;
      flex-direction: column;
      transform: unset !important;
      gap: 80px; } }
  .reports-help__card {
    display: flex !important;
    align-items: center; }
    .reports-help__card-img {
      max-width: 528px; }
      .reports-help__card-img img {
        width: 100%; }
    .reports-help__card-desc {
      position: relative;
      z-index: 1;
      max-width: 580px;
      background: #fff;
      box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
      padding: 32px;
      margin-left: -40px; }
    .reports-help__card-title {
      font-family: Akrobat, sans-serif;
      font-size: 32px;
      line-height: 120%;
      font-weight: 700;
      text-transform: uppercase; }
    .reports-help__card-text {
      display: grid;
      grid-template-columns: 100%;
      gap: 16px;
      margin-top: 16px; }
      .reports-help__card-text p {
        font-size: 16px;
        line-height: 130%; }
  .reports-help .slick-arrow {
    display: none !important; }
  .reports-help .slick-dots {
    display: none !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 24px; }
    .reports-help .slick-dots li {
      position: relative;
      width: 10px;
      height: 10px;
      background: #F59C00;
      border-radius: 50%; }
      .reports-help .slick-dots li:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4px;
        height: 4px;
        background: #FFF;
        border-radius: 50%;
        opacity: 0; }
    .reports-help .slick-dots .slick-active:after {
      opacity: 1; }
    .reports-help .slick-dots li button {
      width: 100%;
      height: 100%;
      opacity: 0; }

.thanks {
  background: #fff;
  padding: 120px 0; }
  .thanks__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; }
  .thanks__title {
    font-family: Akrobat, sans-serif;
    font-size: 44px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase; }
  .thanks__icon {
    width: 108px; }
    .thanks__icon img {
      width: 100%; }

@media screen and (max-width: 1300px) {
  .reports h1 {
    font-size: 66px; }
  .reports__text p {
    font-size: 16px; }
  .reports__donation {
    bottom: -60px; }
    .reports__donation-amount {
      font-size: 40px; } }
@media screen and (max-width: 1200px) {
  .reports-main__cards {
    grid-template-columns: repeat(4, calc(25% - 72px / 4));
    gap: 24px; }

  .reports__inner {
    gap: 40px; }
  .reports__left {
    width: calc(100% - 520px); }
  .reports__right {
    width: 480px; }
  .reports__donation {
    left: -40px; } }
@media screen and (max-width: 1024px) {
  .text66 {
    font-size: 32px; }

  .reports-main {
    padding-top: 40px; }
    .reports-main h1 {
      font-size: 40px; }
    .reports-main__tabs-body {
      margin-top: 48px; }
    .reports-main__group:not(:first-child) {
      margin-top: 48px; }
    .reports-main__year, .reports-main__subtitle {
      font-size: 32px; }
    .reports-main__cards {
      grid-template-columns: repeat(4, calc(25% - 48px / 4));
      gap: 16px;
      margin-top: 16px; }
    .reports-main__card {
      padding: 16px; }
      .reports-main__card-title {
        font-size: 20px; }
      .reports-main__card-year {
        font-size: 20px; }
      .reports-main__card-img {
        bottom: -16px;
        width: 90px; }
    .reports-main__socials-wrap {
      margin-top: 24px; }
    .reports-main__social {
      width: 52px; }

  .reports {
    padding: 40px 0 80px; }
    .reports__inner {
      gap: 30px; }
    .reports__left {
      width: calc(100% - 430px); }
    .reports__right {
      width: 400px; }
    .reports h1 {
      font-size: 40px; }
    .reports__text {
      margin-top: 8px; }
      .reports__text p {
        font-size: 14px; }
    .reports__donation {
      left: -30px; }
      .reports__donation-text {
        font-size: 12px; }

  .reports-history {
    padding: 56px 0 28px; }
    .reports-history__group {
      padding-right: 20px; }
    .reports-history__text p {
      font-size: 14px; }
    .reports-history__wrap {
      gap: 24px;
      padding: 24px;
      margin-top: 56px; }
    .reports-history__left {
      width: calc(100% - 424px); }
    .reports-history__right {
      width: 400px; }

  .reports-events {
    padding: 28px 0 56px; }
    .reports-events .slick-list {
      margin: 0 -12px; }
    .reports-events .slick-slide {
      margin: 0 12px; }

  .reports-help {
    padding: 80px 0; }
    .reports-help .slick-list {
      margin: 0 -12px; }
    .reports-help .slick-track {
      display: flex;
      align-items: stretch; }
    .reports-help .slick-slide {
      height: auto;
      margin: 0 12px; }
      .reports-help .slick-slide > div {
        height: 100%; }
    .reports-help__cards {
      margin-top: 40px; }
    .reports-help__card {
      flex-direction: column; }
      .reports-help__card-img {
        max-width: 100%;
        height: auto !important; }
      .reports-help__card-desc {
        max-width: 100%;
        flex-grow: 1;
        padding: 20px;
        margin: 0; }
      .reports-help__card-title {
        font-size: 24px; }
      .reports-help__card-text {
        margin-top: 8px; }
        .reports-help__card-text p {
          font-size: 14px; }
    .reports-help .slick-dots {
      display: flex !important; }

  .thanks {
    padding: 80px 0; }
    .thanks__inner {
      flex-direction: column;
      justify-content: start;
      align-items: start; }
    .thanks__title {
      font-size: 32px; }
    .thanks__icon {
      order: -1; } }
@media screen and (max-width: 768px) {
  .reports-main__cards {
    grid-template-columns: repeat(3, calc(100% / 3 - 32px / 3)); }

  .reports__inner {
    flex-direction: column;
    gap: 32px; }
  .reports__left {
    width: 100%; }
    .reports__left .reports__donation {
      display: flex; }
  .reports__right {
    width: 100%;
    max-width: 500px;
    order: -1;
    margin: 0 auto; }
  .reports__donation {
    position: relative;
    left: unset;
    bottom: unset;
    max-width: 200px;
    display: none;
    padding: 24px;
    margin: 48px auto 0; }

  .reports-history__wrap {
    flex-direction: column; }
  .reports-history__left {
    width: 100%; }
  .reports-history__right {
    max-width: 500px;
    width: 100%;
    order: -1;
    margin: 0 auto; } }
@media screen and (max-width: 576px) {
  .reports-main__cards {
    grid-template-columns: repeat(2, calc(50% - 16px / 2)); }

  .reports-history__top:after {
    display: none; }
  .reports-history__group {
    padding-right: 0; }
  .reports-history__wrap {
    padding: 16px; }

  .reports-events__slider-btns {
    display: none; }
  .reports-events .slick-dots {
    display: flex !important; }

  .reports-help__top:after {
    display: none; }
  .reports-help__title {
    background: transparent;
    padding-right: 0; } }
@media screen and (max-width: 400px) {
  .reports-main__cards {
    grid-template-columns: 100%;
    gap: 8px; }
  .reports-main__card {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .reports-main__card-year {
      margin-top: 0; }
    .reports-main__card-img {
      display: none; } }

/*# sourceMappingURL=reports.css.map */
